version: "3.8"

services:
  mongodb-mcp:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongodb
    networks:
      - mcp-network

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    networks:
      - mcp-network

volumes:
  mongodb-data:


networks:
  mcp-network:
    driver: bridge
